@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #165dfc;
  /* your primary color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}